.shopping_cart_page {
  margin: 0 auto;
  text-align: center;
  width: 65rem;
}

.shopping_cart_page .line {
  background-color: var(--second-color);
  height: 2px;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.shopping_cart_page .total_price_container {
  display: flex;
  justify-content: center;
}

.shopping_cart_page .total_price_container p {
  margin-right: 8px;
}

.title_price_remove {
  text-align: left;
}

.title_price_remove p {
  margin-bottom: 3px;
}

.title_price_remove .remove_cart_item_button:hover {
  cursor: pointer;
  color: var(--second-color);
}

.cart_list_item_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}

.cart_list_item_container .cart_product_container {
  display: flex;
  align-items: center;
}

.cart_list_item_container img {
  width: 6rem;
  max-height: 6rem;
  object-fit: contain;
  margin-right: 1rem;
}

.cart_product_number {
  margin-right: 10px;
}

.cart_product_number button {
  border: 1px solid rgb(190, 190, 190);
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.cart_product_number button:hover {
  cursor: pointer;
}

.cart_product_number span {
  margin-left: 5px;
  margin-right: 5px;
}

.order_container {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  box-shadow: 1px 1px 1px 2px rgb(206, 206, 206);
  border-radius: 12px;
  margin-bottom: 0.5rem;
  height: fit-content;
}

.order_container h4 {
  color: var(--main-color);
}

.cart_form_container label {
  margin: 0 auto;
  display: flex;
  width: fit-content;
  margin-bottom: 10px;
}

.cart_form_container span {
  width: 7rem;
}

.cart_form_container input {
  width: 18rem;
  height: 20px;
  border-radius: 7px;
  border: 1px solid rgb(155, 155, 155);
}

.submited_form_container {
  width: fit-content;
  margin: 0 auto;
}

.input_container {
  display: flex;
  border: 1px solid rgb(207, 207, 207);
  padding: 0.2em 1.2rem 0.2rem 1.2rem;
  border-radius: 5px;
  margin-bottom: 2px;
  justify-content: space-between;
}

.input_container p {
  margin-bottom: 0.5rem;
  text-align: left;
  width: 8rem;
}

.input_container span {
  font-weight: bold;
}
