.productslist_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.productlistitem_container {
  position: relative;
  text-align: center;
  width: 14rem;
  height: 14rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 2px #dfdfdf;
}

.products_container .sort_category_container {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  margin-top: 1rem;
}

.products_container .sort_category_container select {
  margin-right: 1rem;
  height: 30px;
  border-radius: 10px;
}

.products_container h3 {
  text-align: center;
}

.productlistitem_container:hover {
  cursor: pointer;
}

.product_image {
  position: absolute;
  bottom: 2.8rem;
  left: 5rem;
  width: 7rem;
  max-height: 7rem;
  object-fit: contain;
}

.add_item_container {
  display: flex;
  opacity: 0;
  align-items: center;
  margin-top: 1rem;
  position: absolute;
  bottom: 0.6rem;
  left: 5rem;
  padding: 3px;
  font-size: 0.8rem;
  border-radius: 10px;
  background-color: #e3f1f0;
  border: 1px solid #ade2dc;
  transition: all 0.1s linear;
}

.add_item_container:hover {
  cursor: pointer;
  background-color: #f3d6d1;
  border: 1px solid #b9afad;
}

.productlistitem_container:hover .add_item_container {
  opacity: 1;
}

.add_to_cart {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.single_product_container {
  width: 40rem;
  margin: 0 auto;
  text-align: center;
}

.single_product_container h4 {
  text-align: center;
}

.single_product_container img {
  width: 17rem;
}

.single_product_container .product_desc {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  text-align: left;
}

.add_item_single_item {
  display: flex;
  padding: 3px;
  font-size: 0.9rem;
  border-radius: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: #e3f1f0;
  border: 1px solid #ade2dc;
  transition: all 0.1s linear;
}

.add_item_single_item:hover {
  cursor: pointer;
  background-color: #f3d6d1;
  border: 1px solid #b9afad;
}

/* MOBILE VIEW */
@media screen and (max-width: 650px) {
  .productslist_container {
    display: block;
    width: 20rem;
  }

  .products_container .sort_category_container {
    display: block;
    width: 80%;
  }

  .products_container .sort_category_container select {
    margin-bottom: 1rem;
  }
}
