.products_container {
  max-width: 51rem;
  margin: 0 auto;
}

.products_container .sort_category_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.categories_buttons_container {
  display: flex;
}

.categories_buttons_container input[type="radio"] {
  display: none;
}

.categories_buttons_container label {
  padding: 0.5rem;
  background-color: var(--main-color);
  color: white;
  font-weight: 600;
  border-radius: 17px;
  margin-right: 0.4rem;
  font-size: 0.8rem;
  box-shadow: 1px 1px 1px 0px #949494;
}

.categories_buttons_container label:hover {
  cursor: pointer;
  opacity: 0.85;
}

.categories_buttons_container input[type="radio"]:checked + label {
  background-color: var(--second-color);
}

.products_container .search_container {
  width: 250px;
  height: 24px;
  border-radius: 7px;
  border-width: 1px;
  margin-top: 1.2rem;
}

.products_container .sort_category_container select {
  margin-right: 1rem;
  height: 30px;
  border-radius: 10px;
}

.products_container h3 {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #303030;
}

.productslist_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.productlistitem_container {
  position: relative;
  text-align: center;
  width: 14rem;
  height: 14rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 2px #dfdfdf;
}

.productlistitem_container:hover {
  cursor: pointer;
}

.product_image {
  position: absolute;
  bottom: 2.8rem;
  left: 5rem;
  width: 7rem;
  max-height: 7rem;
  object-fit: contain;
}

.add_item_container {
  display: flex;
  opacity: 0;
  align-items: center;
  margin-top: 1rem;
  position: absolute;
  bottom: 0.6rem;
  left: 5rem;
  padding: 3px;
  font-size: 0.8rem;
  border-radius: 10px;
  background-color: #eaf0f3;
  border: 1px solid #67a3be;
  transition: all 0.1s linear;
}

.add_item_container:hover {
  cursor: pointer;
  background-color: #c9e2ee;
}

.productlistitem_container:hover .add_item_container {
  opacity: 1;
}

.add_to_cart {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.single_product_container {
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
}

.single_product_container h4 {
  text-align: center;
}

.single_product_container img {
  width: 17rem;
}

.single_product_container .product_desc {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  text-align: left;
}

.add_item_single_item {
  display: flex;
  padding: 3px;
  font-size: 0.9rem;
  border-radius: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: #eaf0f3;
  border: 1px solid #67a3be;
  transition: all 0.1s linear;
}

.add_item_single_item:hover {
  cursor: pointer;
  background-color: #c9e2ee;
}

/* MOBILE VIEW */
@media screen and (max-width: 650px) {
  .productslist_container {
    display: block;
    width: 20rem;
  }

  .products_container .sort_category_container {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  .sort_by_container {
    margin-top: 1rem;
  }

  .search_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.7rem !important;
  }
}
